
.background{
}
.sup{
  display: flex;
}

.sup li{
  width: 200px;
  list-style: none;
  background: #383c54;
  position: relative;
}

.sup a {
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 40px;
  line-height: 40px;
  transition: all .5s;
}

.sup a:hover {
  background: #808291;
}

.sup ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
}

.sup li:hover > ul {
  display: block;
}

.sup ul ul {
  display: none;
  top: 0;
  left: 100%;
}
