.lead{
    font-size: 20px;
    height: 300px;
    width: 100%;
    vertical-align: middle;
}
.vertal{
    padding: 40px 0px;
}
h1{
    width: 100%;
    text-align: left;
}
a {
    background-color: transparent;
}
.card__background {
    margin-top: 20px;
    height: 152px;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 15%);
    display: flex;
    text-align: center;
}
.card__title__tags{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card__title {
    padding-left: 15px;
    padding-top: 60px;
    margin-bottom: 4px;
    overflow: hidden;
    text-align: left;
}
.card__link{
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 700;
}