{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add product
{% endblock %}

{% block content %}
    <div class="container" style="text-align-all: center;">
        <main>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Запрос продукта, мы постараемся найти то что вы ищите</h4>
                <form class="needs-validation" novalidate="">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Имя товара</label>
                            <input type="text" class="form-control" id="name" placeholder="" value=""
                                   required="">
                            <div class="invalid-feedback">
                                Valid first name is required.
                            </div>
                        </div>
                        <div class="betternet-wrapper"></div>
                        <div class="navbar-form">
                            <div class="input-group mb-3">
                                <h4>Если есть фото можете загрузить?</h4>
                                <br>
                                <input type="file" class="form-control" id="inputGroupFile02">
                                <label class="input-group-text" for="inputGroupFile02">Upload</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">Email <span
                                    class="text-muted">(Optional)</span></label>
                            <input type="email" class="form-control" id="email" placeholder="you@example.com">
                            <div class="invalid-feedback">
                                Please enter a valid email address for shipping updates.
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="address" class="form-label">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="1234 Main St"
                                   required="">
                            <div class="invalid-feedback">
                                Please enter your shipping address.
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="state" class="form-label">Страна</label>
                            <select class="form-select" id="state" required="">
                                <option value="">Choose...</option>
                                <option>Kyrgyzstan</option>
                                <option>Kazahstan</option>
                                <option>Uzbekstan</option>
                                <option>Russia</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <h4 class="mb-3">Способ оплаты</h4>

                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked=""
                                   required="">
                            <label class="form-check-label" for="credit">Кредитная карта</label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input"
                                   required="">
                            <label class="form-check-label" for="debit">Наличкой</label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input"
                                   required="">
                            <label class="form-check-label" for="paypal">Онлайн</label>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" type="submit">Оформить заказ</button>
                </form>
            </div>
    </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2017–2022 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
    </div>


    <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>

    <script src="form-validation.js"></script>

{% endblock %}