<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'back.css' %}">
</head>
<body>
<div class="body">
    {% include 'header.html' %}
    <div class="container">
        {% block content %}
        {% endblock %}
        <!-- Remove the container if you want to extend the Footer to full width. -->
    {% if user.is_authenticated %}
        <div class="container my-2" style="size: auto">

            <footer class="bg-dark text-center text-white">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Form -->
                    <section class="">
                        <form action="{% url 'add_product' %}">
                            <!--Grid row-->
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-5 col-12">
                                    <!-- Email input -->
                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label" for="add_product"><strong>Не нашли товара которую
                                            искали?</strong></label>
                                        <input type="text" id="add_product" class="form-control"/>

                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-1">
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-outline-light mb-4" style="margin-top: 2em">
                                        Subscribe
                                    </button>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->
                        </form>
                    </section>
                    <!-- Section: Form -->
                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2022 Copyright:
                    <a class="text-white" href="{% url 'main' %}">eMarket.kg</a>
                </div>
                <!-- Copyright -->
            </footer>

        </div>
        <!-- End of .container -->
    </div>
{% endif %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</div>
</body>
</html>