{% extends 'base.html' %}

{% load static %}

{% block title %}
    Costumer | Form
{% endblock %}

<link rel="stylesheet" href="{% static 'form_style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'back.css' %}" type="text/css">

{% block content %}
{% csrf_token %}
        <div class="main" style="text-align: center; margin-top: 2em">
            <div class="register">
                <form action="client" id="register" method="POST">
                    {% csrf_token %}
                    <label>First name: </label>
                    <br>
                    <label for="fname"></label><input type="text" name="fname" id="fname" placeholder="Enter your first name">
                    <br><br>
                    <label>Last name: </label>
                    <br>
                    <label for="lname"></label><input type="text" name="lname" id="lname" placeholder="Enter your last name">
                    <br><br>
                    <label>Your age: </label>
                    <br>
                    <label for="age"></label><input type="number" name="age" id="age" placeholder="How old are you?">
                    <br><br>
                    <label>Your number: </label>
                    <br>
                    <label for="number"></label><input type="text" name="number" id="number" placeholder="Your number: ">
                    <br><br>
                    <label>Email: </label>
                    <br>
                    <label for="mail"></label><input type="email" name="email" id="mail" placeholder="Enter your Email">
                    <br><br>
                    <label>Gender: </label>
                    &nbsp;&nbsp;&nbsp;
                    <label for="male"></label><input type="radio" name="gender" id="male">
                    &nbsp;
                    <span id="smale">Male</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label for="female"></label><input type="radio" name="gender" id="female">
                    &nbsp;
                    <span id="sfemale">Female</span>
                    <br><br>
                    <label>Known languages</label>
                    <br>
                    <label for="eng"></label><input type="checkbox" name="lang" id="eng">
                    &nbsp;
                    <span id="senglish">English</span>
                    &nbsp;
                    <label for="rus"></label><input type="checkbox" name="lang" id="rus">
                    &nbsp;
                    <span id="srus">Russian</span>
                    &nbsp;
                    <label for="tur"></label><input type="checkbox" name="lang" id="tur">
                    &nbsp;
                    <span id="stur">Turk</span>
                    <br><br>
                    <button type="submit" name="submit" id="submit">Submit</button>
                </form>
            </div>
        </div>
{% endblock %}