<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.6.0.min.map' %}"></script>
</head>
<body>
<header class="site-header sticky-top py-1" style="background-color: orange">
  <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" href="{% url 'main' %}">Главная</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'catalog' %}">Каталогы</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'sub_catalog' %}">Под каталогы</a>
        <a class="py-2 d-none d-md-inline-block" href="{% url 'product' %}">Товары</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Курсы валют</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Скидки</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Войти</a>
        <a class="py-2 d-none d-md-inline-block" href="#">Помощь</a>
  </nav>
</header>
</body>
</html>