<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Tabs with Icons</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/https://path/to/font-awesome/css/font-awesome.min.css %}">
</head>

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">eMARKET</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link" href="{% url 'main' %}">
                        <i class="bi-house-door"></i> Главная </a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'catalog' %}">
                        <i class="bi-card-checklist"></i>&nbsp; Каталог </a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sub_catalog' %}">
                        <i class="bi-subtract"></i>&nbsp; Под-каталог</a>
                </li>
                &nbsp&nbsp&nbsp&nbsp&nbsp
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'product' %}">
                        <i class="bi-list"></i>&nbsp; Акции</a>
                </li>
            {% block template_tag %}

            {% endblock %}
                {% if user.is_authenticated == False %}
                    <div class="activate" style="text-align: right">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login_own' %}">Login <span class="sr-only"></span></a>
                        </li>
                    </div>
                {% endif %}

                {% if user.is_authenticated %}
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    &nbsp&nbsp&nbsp&nbsp&nbsp
                    <form class="form-inline my-2 my-lg-0">
                        <a class="btn btn-success btn-sm ml-3" href="{% url 'profile' %}">
                            <i class="bi-person"></i>{{ user.username }}
                        </a>
                    </form>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout_own' %}">Logout</a>
                    </li>&nbsp&nbsp&nbsp&nbsp&nbsp
                    </ul>
                {% endif %}
        </div>
    </div>
</nav>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-3.6.0.min.map' %}"></script>
</body>
</html>