{% extends 'base.html' %}
{% load static %}
{% block title %}
    Products
{% endblock %}

{% block content %}
    <div class="row">
        {% for i in product %}
            <div class="card"
                 style="width: 200px; background-color: #191c1f; margin-top: 10em; margin-right: 4em; margin-left: 0%">
                <h4 class="card-title" style="top: auto; color: #c1d6cc; margin-left: 22%">{{ i.name }}</h4>
                <img src="{{ i.image.url }}" alt="{{ i.name }}" style="width: 100%">
                <a href="{% url 'catalogs_subs'  i.id %}" class="btn btn-primary">Saw Catalog</a>
            </div>
        {% endfor %}
    </div>
    <br><br><br><br>
{% endblock %}