{% extends 'base.html' %}

{% block title %}
    Catalog
{% endblock %}

{% block content %}
    {% for el in sub_catalog %}
        <div class="alert alert-warning mt-2">
            <a href="{% url 'subs_product' el.catalog_id el.id %}"><h3>{{ el.name }}</h3></a>
        <img src="{{ el.image.url }}" alt="" height="120px">
        </div>
    {% endfor %}
{% endblock %}