{% extends 'base.html' %}

{% block title %}
    LOGIN
{% endblock %}

{% load static %}

<link rel="stylesheet" href="{% static 'form_style.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'back.css' %}" type="text/css">

{% block content %}

    <form method="post">
        {% csrf_token %}
        <section class="vh-50 gradient-custom">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">

                                <div class="mb-md-5 mt-md-4 pb-5">

                                    <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                    <p class="text-white-50 mb-5">Please enter your login and password!</p>

                                    <div class="form-outline form-white mb-4">
                                        <input name='username' type="text" id="typeEmailX" class="form-control form-control-lg"/>
                                        <label class="form-label" for="typeEmailX">User name</label>
                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <input name='password' type="password" id="typePasswordX" class="form-control form-control-lg"/>
                                        <label class="form-label" for="typePasswordX">Password</label>
                                    </div>

                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot
                                        password?</a></p>

                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                                </div>

                                <div>
                                    <p class="mb-0">Don't have an account? <a href="{% url 'register' %}" class="text-white-50 fw-bold">Sign
                                        Up</a>
                                    </p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
{% endblock %}