*{
    margin: 0;
    padding: 0;
}
body{
    background: url("/Media/1.jpg");
    background-size: 100%;
    background-position: 0 0;
}

div.main{
    width: 400px;
    margin: 100px auto 0 auto;
}

h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

div.register{
    background-color:dimgrey;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
    color: #fff;
}

form#register{
    margin: 40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#fname,#lname,#age,#mail{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: rgba(250, 100, 0, 0.8);
    color: #fff;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

label, h2{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

span{
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-size: 17px;
}