h1,h2,h3,h4{
  font-family:'Montserrat', sans-serif;
}
p{
  font-family: 'Libre Baskerville', serif;
}

$stark-color: grey;
$martell-color: #80252a;

html,body{
  overflow:hidden;
}

.nav-icon{
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  margin:auto;
  opacity:.5;
  width:70px;
  cursor:pointer;
}
section{
  width:100%;
  height:100%;
  overflow:visible;
  -webkit-transition: all 1500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
   -moz-transition: all 1500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition: all 1500ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transition: all 1500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.animate-out{
  transform:translate(-100%);
}

.animate-out-again{
  transform:translate(-200%);
}

#stark{
  position:absolute;
  .photo{
      background-image: url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2015/08/10/11/nedstark.jpg');
  background-position:center;
  background-size:cover;
  }
  .follow-button{
    background-color:#7b906f;
  }
}

#baratheon{
  position:absolute;
  left:100%;
  .photo{
    background-image: url('https://i.stack.imgur.com/uwi3K.jpg');
    background-position:center;
    background-size:cover;
  }
  .follow-button{
    background-color:#eeb42e;
    color:black;
  }
  h2,h3{
    color:#eeb42e;
  }
  h2{
    font-size:1em;
  }
  .text-info-inner{
    img{
      width:40%;
    }
  }
}

#martell{
  position:absolute;
  left:100%;
  .photo{
    background-image: url('https://img0.etsystatic.com/052/0/7689632/il_fullxfull.667950014_m563.jpg');
    background-position:center;
    background-size:cover;
  }
  .follow-button{
    background-color:#80252a;
  }
   h1{
    font-size:2em;
  }
  h3{
    color:#80252a;
  }
  h2{
    color:#80252a;

  }
  .text-info-inner{
    img{
      opacity:.15;
      width:70%;
      top:initial;
    }
  }
}

.profile-card{
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  border-radius:20px;
  width:80%;
  max-width:1500px;
  height:90%;
  background-color:white;
  -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
  -moz-box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}

.photo{
  display:inline-block;
  float:left;
  width:40%;
  height:100%;
  border-radius: 20px 0 0 20px;
}

.text-info-outer{
  display:inline-block;
  width:60%;
  height:100%;
  float:left;
}

.text-info-inner{
  position:relative;
  height:100%;
  padding:30px;
  h1{
    margin:0 0 20px 0;
    text-transform:uppercase;
    font-size:3em;
  }
  h3{
    color:grey;
    text-transform:uppercase;
    text-size:1em;
    letter-spacing:.1em;
    margin:0;
  }
  h2{
    display:inline-block;
    text-transform:uppercase;
    font-size:.8em;
    padding-right:40px;
    color:grey;
  }
  p{
    line-height:2em;
    margin-top:40px;
  }
  img{
    position: absolute;
    opacity: .08;
    max-width: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }
  .follow-button{
    position:absolute;
    top:40px;
    right:40px;
    border-radius:10px;
    padding: 5px 40px;
    color:white;
    cursor:pointer;
    h4{
      text-transform:uppercase;
      letter-spacing:.1em;
    }

  }
}