{% extends 'store/main.html' %}
{% load static %}
{% block content %}

                <div class="menu">
                    <li>
                        <a href="">Category</a>
                        <ul>
                             {% for i in category %}
                          <li><a href="#">{{ i.name }}</a></li>




                            {% endfor %}

                        </ul>
                    </li>

                </div>

{% endblock content %}