{% extends 'store/main.html' %}
{% load static %}
{% block content %}



      <div class="menu">
            <li>
                <a href="">SupCategory</a>
                <ul>
                    {% for j in sp %}
                        <li><a href="#">{{ j.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </div>






{% endblock %}