{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
        {% for product in products %}
		<div class="col-lg-4">

            <img class="thumbnail" style="object-fit: cover"  src="{{ product.imageURL }}" alt="">
			<div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <button class="btn btn-outline-info add-btn">
                    Картага кошуу
                </button>
                <a class="btn btn-outline-success" href="#">Көрүү</a>
                <h4 style="display: inline-block;float:0 right">{{ product.price }}KGS </h4>


			</div>
		</div>

        {% endfor  %}

	</div>

{% endblock content %}