{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div class="sup">
        <li>
            <a href="">SupCategory</a>
            <ul>
                 {% for j in dr %}
              <li><a href="#">{{ j.name }}</a></li>


                {% endfor %}

            </ul>
        </li>
    </div>


{% endblock %}