/*Footer*/

a{
	text-decoration: none;
}
ul,li{
	list-style-type: none;
}
.footer {
  min-height: 40vh;
  margin-top: 100px;
  background-color: rgb(56, 65, 65);
  position: relative;
}
.footer .footer__container {
  max-width: 1250px;
  margin: 0 auto;
}
.footer .footer__container .footer__display-flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footer .footer__container .footer__display-flex .footer__item-block .footer__items .footer__items-link {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
  color: white;
}
.footer .footer__container .footer__display-flex .footer__get-help .footer__get-help-text {
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}
.footer .footer__container .footer__display-flex .footer__get-help .footer__get-help-item .footer__get-help-link {
  line-height: 130%;
  color: rgb(182, 182, 182);
  transition: 0.3s ease;
}
.footer .footer__container .footer__display-flex .footer__get-help .footer__get-help-item .footer__get-help-link:hover {
  color: #fff;
  transform: translateX(20px);
}
.footer .footer__container .footer__display-flex .footer__about-nike .footer__about-text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}
.footer .footer__container .footer__display-flex .footer__about-nike .footer__about-nike-item .footer__about-nike-link {
  color: rgb(182, 182, 182);
  line-height: 130%;
  transition: 0.3s ease;
}
.footer .footer__container .footer__display-flex .footer__about-nike .footer__about-nike-item .footer__about-nike-link:hover {
  color: #fff;
  transform: translateX(20px);
}
.footer .footer__container .footer__display-flex .footer__icons .footer__icons-link {
  margin-left: 15px;
}
.footer .footer__container .footer__display-flex .footer__icons .footer__icons-link img {
  width: 40px;
  transition: 0.4s ease;
}
.footer .footer__container .footer__display-flex .footer__icons .footer__icons-link img:hover {
  transform: scale(1.2);
}
.footer .footer__container .footer__right-bottom {
  display: flex;
  align-items: center;
}
.footer .footer__container .footer__right-bottom .footer__map .footer__map-item {
  font-size: 0.8rem;
  color: #fff;
}
.footer .footer__container .footer__right-bottom .footer__map .footer__map-item img {
  width: 20px;
}
.footer .footer__container .footer__bottom-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.footer .footer__container .footer__bottom-block .footer__user .footer__copy {
  font-size: 0.8rem;
  color: rgb(190, 190, 190);
}
.footer .footer__container .footer__bottom-block .footer__right-block {
  display: flex;
  flex-direction: row-reverse;
}
.footer .footer__container .footer__bottom-block .footer__right-block .footer__right-block-item .footer__right-block-link {
  display: inline;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: rgb(190, 190, 190);
  margin-left: 20px;
  transition: 0.3s ease;
}
.footer .footer__container .footer__bottom-block .footer__right-block .footer__right-block-item .footer__right-block-link:hover {
  color: #fff;
  transform: scale(1.1);
}
.footer .footer::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
}/*# sourceMappingURL=footer.css.map */
/*Footer End*/