body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;


}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none;
}

/* --------------------------------------- */

/*Footer*/

a{
	text-decoration: none;
}
ul,li{
	list-style-type: none;
}
.footer {
  min-height: 70vh;
  background-color: rgb(56, 65, 65);
  position: relative;
}
.footer .footer__container {
  max-width: 1250px;
  margin: 0 auto;
}
.footer .footer__container .footer__display-flex {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.footer .footer__container .footer__display-flex .footer__item-block .footer__items .footer__items-link {
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 200%;
  text-transform: uppercase;
}
.footer .footer__container .footer__display-flex .footer__get-help .footer__get-help-text {
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  margin-top: 10px;
}
.footer .footer__container .footer__display-flex .footer__get-help .footer__get-help-item .footer__get-help-link {
  line-height: 130%;
  color: rgb(182, 182, 182);
  transition: 0.3s ease;
}
.footer .footer__container .footer__display-flex .footer__get-help .footer__get-help-item .footer__get-help-link:hover {
  color: #fff;
}
.footer .footer__container .footer__display-flex .footer__about-nike .footer__about-text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 10px;
}
.footer .footer__container .footer__display-flex .footer__about-nike .footer__about-nike-item .footer__about-nike-link {
  color: rgb(182, 182, 182);
  line-height: 130%;
  transition: 0.3s ease;
}
.footer .footer__container .footer__display-flex .footer__about-nike .footer__about-nike-item .footer__about-nike-link:hover {
  color: #fff;
}
.footer .footer__container .footer__display-flex .footer__icons .footer__icons-link {
  margin-left: 15px;
}
.footer .footer__container .footer__display-flex .footer__icons .footer__icons-link img {
  width: 40px;
  transition: 0.4s ease;
}
.footer .footer__container .footer__display-flex .footer__icons .footer__icons-link img:hover {
  transform: scale(1.2);
}
.footer .footer__container .footer__right-bottom {
  display: flex;
  align-items: center;
}
.footer .footer__container .footer__right-bottom .footer__map .footer__map-item {
  font-size: 0.8rem;
  color: #fff;
}
.footer .footer__container .footer__right-bottom .footer__map .footer__map-item img {
  width: 20px;
}
.footer .footer__container .footer__bottom-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.footer .footer__container .footer__bottom-block .footer__user .footer__copy {
  font-size: 0.8rem;
  color: rgb(190, 190, 190);
}
.footer .footer__container .footer__bottom-block .footer__right-block {
  display: flex;
  flex-direction: row-reverse;
}
.footer .footer__container .footer__bottom-block .footer__right-block .footer__right-block-item .footer__right-block-link {
  display: inline;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  color: rgb(190, 190, 190);
  margin-left: 20px;
  transition: 0.3s ease;
}
.footer .footer__container .footer__bottom-block .footer__right-block .footer__right-block-item .footer__right-block-link:hover {
  color: #fff;
  transform: scale(1.1);
}
.footer .footer::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
}/*# sourceMappingURL=footer.css.map */
/*Footer End*/