{% extends 'glovo/base.html' %}
{% load static %}
{% block content %}
<main>
    <h1>{{ title }}</h1>
    {% for c in cat %}
        <a class="card__link" href="#">
            <div class="card__background">
                <div class="card__title__tags">
                    <div class="card__title">{{c.title}}</div>
                </div>
            </div>
        </a>
    {% endfor %}
</main>
{% endblock %}