{% extends 'glovo/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for e in est %}
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{e.title}}</text></svg>

                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'esta' e.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}