*{
    margin: 0;
    padding: 0;
}
body {
  background-color: white;
  color: black;
  font-size: 30px;
}

.dark-mode {
  background-color: dimgrey;
  color: orange;
}
.main-button{
    font-family: sans-serif;
    text-align: right;
    background-size: 100%;
}
.main{
    font-family: sans-serif;
    text-align: center;
    background-size: 100%;
}
a{
    color: blue;
    font-size: larger;
}